.execution {
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
	width: 100%;

	& .execution_content {
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
		width: 100%;
		overflow: hidden;
	}
}
