.header_actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
	gap: var(--space-xs);
}

.header_divider {
	width: 1px;
	height: 100%;
	background: var(--color-gray-100);
}
