#root {
	display: flex;
	flex-direction: column;
	/* margin: 0 auto; */
	min-height: 100vh;
	/* max-width: 1920px; */
	width: 100%;
	overflow-x: hidden;
	background-color: var(--color-gray-25);
	font-family: var(--font-body-medium-family);
}
