.transactions {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--space-xl) var(--space-xl) var(--space-xxxxxl) var(--space-xl);
	width: 100%;
	height: calc(100% - var(--header-height));
	min-height: calc(100vh - var(--header-height));
	gap: var(--space-m);
	background: linear-gradient(180deg, var(--color-gray-25, #fcfcfd) 0%, var(--color-gray-50, #f3f5f6) 100%);
}

@media (max-width: 640px) {
	.transactions {
		padding: var(--space-m) var(--space-m) var(--space-xxxxxl) var(--space-m);
	}
}
