.chain {
	display: flex;
	gap: var(--space-xs);
	align-items: center;

	& .chain_logo {
		width: 22px;
		height: 22px;
		border-radius: var(--border-radius-xsmall);
	}

	& .chain_name {
		display: block;
		gap: var(--space-xs);
		font-size: 0.875rem;
		color: var(--color-gray-700);
		line-height: 1.125rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.token {
	display: flex;
	gap: var(--space-xs);
	align-items: center;

	& .token_logo {
		width: 22px;
		height: 22px;
		border-radius: var(--border-radius-medium);
	}

	& .token_name {
		display: block;
		gap: var(--space-xs);
		font-size: 0.875rem;
		color: var(--color-gray-700);
		line-height: 1.125rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.amount {
	display: flex;
	align-items: center;
	gap: var(--space-xs);

	& .amount_name {
		color: var(--color-gray-600);
	}
}
