.table_pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 416px;
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 0 var(--space-l) var(--space-l) var(--space-m);
	min-height: 40px;

	& .table_pagination_controls {
		display: flex;
		justify-content: space-between;
		width: 100%;

		& .pagination_buttons {
			display: flex;
			gap: var(--space-xxs);
		}
	}
}
