.table_pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 416px;
	width: 100%;
	margin: var(--space-m) auto 0 auto;
	min-height: 40px;

	& .table_pagination_controls {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}
