.table_pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 var(--space-m) var(--space-m) var(--space-m);
	min-height: 40px;
	background: var(--color-gray-25);
	border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
	min-width: 100%;

	& .table_pagination_controls {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 100%;
		max-width: 416px;
		align-items: center;

		& .pagination_buttons {
			display: flex;
			gap: var(--space-xxs);
		}
	}
}

.table_pagination_mobile {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 var(--space-m) var(--space-m) var(--space-m);
	align-items: center;

	& .pagination_mobile_status {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-gray-500);
	}

	& .pagination_mobile_status_value {
		color: var(--color-gray-700);
	}
}
