.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: var(--header-height);
	padding: var(--space-xs) var(--space-xl);
	background: var(--color-gray-25);
	gap: var(--space-m);

	& .header_search {
		width: 100%;
		max-width: 345px;
	}
}
