.table_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: auto;
	width: 100%;
	max-width: 1464px;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	background: var(--color-gray-25);
	border-radius: var(--border-radius-large);
	cursor: grab;
	position: relative;
	max-height: 802px;
	transition: overflow-y 0.3s ease;

	&::-webkit-scrollbar {
		display: none;
		height: 0;
	}

	&:hover {
		overflow-y: visible;
	}

	& .table {
		max-width: 1464px;
		margin: 0 auto;
		box-sizing: border-box;
		width: 100%;
		display: block;
		padding: 0 var(--space-m);
	}
}

@media (max-width: 1024px) {
	.table_wrapper {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	.table_wrapper::-webkit-scrollbar {
		display: none;
		height: 0;
	}
}
