.support_modal_option {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-xs);
	width: 100%;

	& .support_modal_option_text {
		font-size: 1rem;
		text-align: center;
		font-weight: 400;
		color: var(--color-gray-700);
		line-height: 1.25rem;
	}
}
