& .tx_content {
	display: flex;
	flex-direction: column;
	max-width: 64.5%;
	justify-content: center;
	width: 100%;
	gap: var(--space-m);

	& .divider {
		width: 100%;
		height: 1px;
		background-color: var(--color-gray-100);
	}
}

@media (min-width: 1025px) and (max-width: 1920px) {
	.tx_content {
		max-width: 64.5%;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.tx_content {
		max-width: 100%;
	}
}

@media (max-width: 640px) {
	.tx_content {
		max-width: 100%;
	}
}
