.support_modal_header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 40px;
	position: relative;

	& .support_modal_title {
		font-size: 1.125rem;
		font-weight: 500;
		color: var(--color-gray-700);
		line-height: 1.375rem;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}
