.transaction_wrapper {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, var(--color-gray-25) 0%, var(--color-gray-50) 100%);
}

.transaction {
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	margin: 0 auto;
	padding: var(--space-xl) var(--space-xl) var(--space-xxxxxl) var(--space-xl);
	width: 100%;
	min-height: calc(100vh - var(--header-height));
	align-items: center;
	gap: var(--space-xl);
	position: relative;

	& .back_button {
		position: absolute;
		top: var(--space-xl);
		left: var(--space-xl);
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.transaction {
		padding: var(--space-xl) var(--space-xl) var(--space-xxxxxl) var(--space-xl);
	}

	& .transaction .back_button {
		position: relative;
		top: auto;
		left: auto;
		margin-bottom: var(--space-m);
		align-self: flex-start;
		z-index: 10;
	}
}

@media (max-width: 640px) {
	.transaction {
		padding: var(--space-m) var(--space-m) var(--space-xxxxxl) var(--space-m);
	}

	& .transaction .back_button {
		position: relative;
		top: auto;
		left: auto;
		margin-bottom: var(--space-m);
		align-self: flex-start;
		z-index: 10;
	}
}
